* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Pixel-LCD-7.woff';
  src: url('./fonts/Pixel-LCD-7.woff') format('woff'); /* Pretty Modern Browsers */

}


body {
  margin: 0;
  font-family: 'Pixel-LCD-7.woff';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
